<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles.css">
    <link rel="icon" type="image/x-icon" href="../IMAGES/favicon.png">
    <title>Générateur citations | Code NoGorD</title>
</head>

<body>

    <section id="page_generateur_citation">
        <header>
            <div id="flex_header" class="container">
                <p id="titre_garde"> Code.NoGorD</p>
                <div id="liens">
                    <nav>
                        <ul>
                            <li><a href="../index.html">Accueil</a></li>
                            <li><a href="mailto:code.nogord@gmail.com">Contactez-moi</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>

        <div id="flex_presentation" class="container">
            <div class="element_gauche">
                <h1>Generateur de citation</h1>
                <p>&lt Projet sympathique qui permet de découvrir chaque jour à l'ouverture une citation fantastique pour persévérer dans son apprentissage.</p>
                <p>Un projet simple et efficace. &gt</p>
            </div>
            
        </div>
    </section>

    <section>
        <div class="container">
            <div id="titre_section2">
                <h2> Présentation </h2>
                <p> Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié. Il a été popularisé dans les années 1960 grâce à la vente de feuilles Letraset contenant des passages du Lorem Ipsum, et, plus récemment, par son inclusion dans des applications de mise en page de texte, comme Aldus PageMaker.</p>

            </div>
           
        </div>
    </section>

    <section>
        <h2 id="contact"> Contact</h2>
        <p id="text_contact">Alors on travaille ensemble ?</p>

        <div id="boutton_contact">
            <a href="mailto:code.nogord@gmail.com">
                Envoyer un mail
            </a>
        </div>

    </section>

    <footer>
        <div class="container">
        © Code NoGorD
        </div>
    </footer>

    <script scr="script.js"></script>
</body>

</html>